<div class="row" style="height: calc(100% - 84px);">
    <div class="col l6 offset-l3 m10 offset-m1 s12 valign-wrapper" style="height: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col s12" style="width: 100%;">
                <div class="card" style="width: 100%;">
                    <div class="card-content">
                        <h4 class="center">Fundraising</h4>
                        <p>Fundraising the £3,890 required for the expedition was by no means easy. Below is a summary of some of the key points in my fundraising. It is very important to note that there were other additional donations from several different people - all of which I am very grateful for.</p>
                    </div>
                </div>
            </div>
            <div class="col s12" style="width: 100%;">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Bag Packing - M&S</div>
                        <div class="collapsible-body white">
                            <p>On the mornings of the 21st, 22nd and 23rd of December 2017, I took part in bag packing at M&S in Ashton-under-Lyne.</p>
                            <p><strong>This raised a total of £114.84.</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Raffle - Manchester City Family Tour Voucher</div>
                        <div class="collapsible-body white">
                            <p>In resposne to a collection of letters I sent out to several local organisations, Manchester City Football Club very kindly donated a Family Tour Voucher to me. I raffled this off to all form groups and staff at West Hill School, and later drew the winner: a year 7 student.</p>
                            <p><strong>This raised a total of £39.60.</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Selling Refreshments - West Hill School</div>
                        <div class="collapsible-body white">
                            <p>On the 22nd March 2018, myself and some of the other fundraisers arranged to sell refreshments during the Year 8 Parents' Evening in the school canteen.</p>
                            <p><strong>This raised a total of £23.00.</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Car Boot Sale - West Hill School</div>
                        <div class="collapsible-body white">
                            <p>On the 1st June 2018, a car boot sale was held at West Hill School which I took part in - selling various items I no longer needed.</p>
                            <p><strong>This raised a total of £52.50.</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Sponsorship - Harrison Catering</div>
                        <div class="collapsible-body white">
                            <p>In resposne to a collection of letters I sent out to several local organisations, Harrison Catering - who have a partnership with West Hill School - very kindly donated a cheque to contribute towards my fundraising. Additionally, they also donated an iPad to raffle off in order to raise funds for the wider group.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Bag Packing - Morrisons</div>
                        <div class="collapsible-body white">
                            <p>On the afternoon of the 9th June 2018, I took part in bag packing at Morrisons in Dukinfield.</p>
                            <p><strong>This raised a total of £39.79.</strong></p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Employment</div>
                        <div class="collapsible-body white">
                            <p>As of the 2nd September 2018, I have been working in a retail job which has allowed me to pay off the remaining balance and also buy the kit that I required.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>