{% extends "../template.html" %}

{% block content %}

<div class="row" style="height: calc(100% - 84px);">
    <div class="col s4 offset-s4 valign-wrapper" style="height: 100%;">
        <div class="card lime darken-4 center white-text" style="width: 100%;">
            <div class="card-content">
                <h2 style="margin: 10px 0;">Error 418</h2>
                <p>This page will come once I return from my expedition.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}