<div class="row" style="height: calc(100% - 84px);">
    <div class="col l8 offset-l2 m10 offset-m1 s12" style="height: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col s12" style="width: 100%;">
                <div class="card" style="width: 100%;">
                    <div class="card-content">
                        <h4 class="center">Gallery</h4>
                        <p>I made sure to take lots of photos on the expedition. Most of these are shown below.</p>
                    </div>
                </div>
            </div>
            <div id="photos-wrapper" class="col s12" style="width: 100%;">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-photo" class="modal" style="height: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">
    <!-- <img id="large-photo" class="responsive-image" src="" /> -->
</div>
