<div class="row" style="height: calc(100% - 84px);">
    <div class="col l8 offset-l2 m10 offset-m1 s12 valign-wrapper" style="height: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col s12" style="width: 100%;">
                <div class="card" style="width: 100%;">
                    <div class="card-content">
                        <h4 class="center">Welcome to My Tanzania Portfolio!</h4>
                        <br>
                        <p>Between 21st July and 16th August 2019, I travelled to Tanzania on a Camps International Expedition. Our activities there involved a safari and a mountain trek, but most importantly, we had the opportunity to make a difference in the local communities by taking part in local community projects.</p>
                        <br>
                        <p>The expedition and the kit required were fundraised over the two previous years. This web portfolio is designed to show my journey from beginning to end.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>