<div class="row" style="height: calc(100% - 84px);">
    <div class="col l8 offset-l2 m10 offset-m1 s12 valign-wrapper" style="height: 100%;">
        <div class="row" style="width: 100%;">
            <div class="col s12" style="width: 100%;">
                <div class="card" style="width: 100%;">
                    <div class="card-content">
                        <h4 class="center">Sponsors</h4>
                        <p>I would like to say a massive thank you to some organisations who were a key part in making this expediiton possible for me.</p>
                    </div>
                </div>
            </div>
            <div class="col s12" style="width: 100%;">
                <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="/img/sponsors/whs.png" class="circle responsive-img">
                      <span class="title">West Hill School</span>
                      <p><em>As well as providing this opportunity for myself and others, West Hill have been very supportive in hosting events such as car boot sales and allowing us to sell refreshments to fundraise.</em></p>
                    </li>
                    <li class="collection-item avatar">
                      <img src="/img/sponsors/harrison.png" class="circle responsive-img">
                      <span class="title">Harrison Catering</span>
                      <p><em>Donated a substantial amount to my fundraising after I wrote to them and several other organisations, as well as an iPad to help the wider group.</em></p>
                    </li>
                    <li class="collection-item avatar">
                      <img src="/img/sponsors/mcfc.png" class="circle responsive-img">
                      <span class="title">Manchester City Football Club</span>
                      <p><em>Donated a family tour voucher of their stadium which I could raffle off at school in order to raise money.</em></p>
                    </li>
                    <li class="collection-item avatar">
                      <img src="/img/sponsors/ms.png" class="circle responsive-img">
                      <span class="title">M&S Ashton-under-Lyne</span>
                      <p><em>Facilitated bag packing for myself and other fundraisers.</em></p>
                    </li>
                    <li class="collection-item avatar">
                      <img src="/img/sponsors/morrisons.png" class="circle responsive-img">
                      <span class="title">Morrisons Dukinfield</span>
                      <p><em>Facilitated bag packing for myself and other fundraisers.</em></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>